@model ImageCRUD.Models.Item

@{
    ViewData["Title"] = "Create";
}

@{
    ViewData["Title"] = "Create";
}

<h1>Adding student Data</h1>

<h4>Detail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Education" class="control-label"></label>
                <input asp-for="Education" class="form-control" />
                <span asp-validation-for="Education" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-8 mb-3">
                    <label asp-for="Imagepath"></label>
                    <input type="file" asp-for="Imagepath" class="form-control" id="ChooseImg" />
                </div>
                <div class="col-4 mb-3">
                    <img src="~/placeholderimg/pic.jpg" style="height:200px;width:150px;border:1px solid red;border-radius:10px;padding:10px" alt="photo" id="PrevImg" />
                </div>

            </div>
            <br></br>
            <div class="form-group mb-3">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/item.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
